/*
    TODO app styles and colors based off of:
        * https://material.google.com/style/color.html#color-color-palette ==> Deep Purple
        * http://work.smarchal.com/twbscolor/css/673ab7512da81de9b600bfa51 ==> All Purple + Green Default Color 1
        * http://work.smarchal.com/twbscolor/css/673ab7512da800bfa5b39ddb1 ==> All Purple + Green Default Color 2
        * http://work.smarchal.com/twbscolor/css/673ab7512da8ecf0f1b39ddb1 ==> All Purple + Grey Default Color
        * #B39DDB ==> 200; #9575CD ==> 300; #673AB7 ==> 500; #512DA8 ==> 700; #311B92 ==> 900;
*/
/*@import url("views/styles/navbardeeppurple.css");*/
nav {
    margin-top: -30px;
}
ul.nav-tabs {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* search view */
.well {
    margin-top: 5px;
    margin-bottom: 10px;
}
