<div class="jumbotron">
  <div class="container">
    <h1><span><i class="glyphicon glyphicon-sunglasses"></i></span>&nbsp;What's an API?&nbsp;<span><i class="glyphicon glyphicon-sunglasses"></i></span></h1>
    <p>This is a learning exercise. Each tab (not including this one :P) is wired up with an API. The UI provides a simple interface between you and the API so you may format API requests to your liking.</p>
  </div>
</div>
