<nav>
    <ul class="nav nav-tabs" role="tablist"><!-- Nav tabs -->
        <li role="presentation" class="active"><a href="#giphy" aria-controls="giphy" role="tab" data-toggle="tab">Giphy</a></li>
        <li role="presentation"><a href="#apod" aria-controls="apod" role="tab" data-toggle="tab">APOD</a></li>
        <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
    </ul>
    <div class="tab-content"><!-- Tab panes -->
        <div role="tabpanel" class="tab-pane fade in active" id="giphy">
            <div id="giphy-view"></div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="apod">
            <div id="apod-view"></div>
        </div>
        <!-- <div role="tabpanel" class="tab-pane fade" id="settings">
            <div id="apod-view"></div>
        </div> -->
    </div>
</nav>
