{{#results}}
    <img src="{{url}}" name="{{name}}">
{{/results}}
{{^results}}
<!-- TODO make into empty message partial -->
<div class="well well-sm">
     ¯\_(ツ)_/¯ Sorry, there are no results to display at this time ¯\_(ツ)_/¯
</div>
{{/results}}
