<div id="search-form-view" style="display:block;">
    <div id="form-container">
        <div class="input-group" id="search-form">
            <input type="text" class="form-control" size=20 name="q" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" id="search-submit" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div><!-- /input-group -->
    </div>
    <div id="results-container">
    {{#results}}
        <img src="{{url}}" name="{{id}}">
    {{/results}}
    {{^results}}
        <div class="well well-sm">
             ¯\_(ツ)_/¯ Sorry, there are no results to display at this time ¯\_(ツ)_/¯
        </div>
    {{/results}}
    </div>
</div>
